'fileTypes': [
  'txt'
]
'name': 'TodoTXT'
'patterns': [
  {
    # Strike through highlighting by surrounding some text inside task with '~~'
    # Note: Strike through & row code highlightings tested with Pubster theme only
    'match': '(?<=\\s|\\S)~~.*?~~(?=\\s|\\S)'
    'name': 'markup.strike'
  }
  {
    # Raw code highlighting by surrounding some text inside task with '`'
    # Note: Strikethrough & row code highlightings tested with Pubster theme only
    'match': '(?<=\\s|\\S)`.*?`(?=\\S|\\s)'
    'name': 'markup.code'
  }
  {
    'match': '^\\s*?\\([A-Z]\\)'
    'name': 'constant.language.todotxt.priority'
  }
  {
    'match': '(\\s+?|^)t:\\d{4}-\\d{2}-\\d{2}'
    'name': 'constant.language.todotxt.date'
  }
  {
    'match': '(\\s+?|^)due:\\d{4}-\\d{2}-\\d{2}'
    'name': 'constant.language.todotxt.due'
  }
  {
    # Allow to contain only words & following symbols: '&', '-', '_' (with excluding other symbols)
    # Also excluding intersection with 'http(s)' prefix detecting
    'match': '(\\s+?|^)[^:,\\.\'?!\\*\\+@"\\$\\(\\)\\[\\]\\{\\}`#^=\\\\\/<>|;%~\\s]+?:[^:,\\.\'?!\\*\\+@"\\$\\(\\)\\[\\]\\{\\}`#^=\\\\\/<>|;%~\\s]+?(?=\\s)'
    'name': 'constant.language.todotxt.extension'
  }
  {
    # Allow to contain only words & following symbols: '&', '-', '_' (with excluding other symbols)
    'match': '(\\s+?|^)\\@[^:,\\.\'?!\\*\\+@"\\$\\(\\)\\[\\]\\{\\}`#^=\\\\\/<>|;%~\\s]+?(?=\\s)'
    'name': 'entity.name.tag.todotxt.context'
  }
  {
    # Allow to contain only words & following symbols: '&', '-', '_' (with excluding other symbols)
    'match': '(\\s+?|^)\\+[^:,\\.\'?!\\*\\+@"\\$\\(\\)\\[\\]\\{\\}`#^=\\\\\/<>|;%~\\s]+?(?=\\s)'
    'name': 'entity.name.tag.todotxt.project'
  }
  {
    # Allow Cyrillic letter 'x'
    'match': '^\\s*?(x|х|х)\\s.*$'
    'name': 'comment.line.todotxt'
  }
  {
    # Undone (failed or canceled) tasks by '-' instead of 'x'
    'match': '^\\s*?-\\s.*$'
    'name': 'markup.strike'
  }
  {
    # Comments by '#' at front of the line
    'match': '^\\s*?#.*$'
    'name': 'comment.line.todotxt'
  }
]
'scopeName': 'text.todotxt'
